body{
	margin:0px;
	padding:0px;
}

.menu{
	background-color:#006900;
	height:40px;
}

.menu >ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.menu > ul > li{
	display:inline;
	margin:0px;
	margin-top:3px;
	margin-left:20px;
	padding:5px;
	float:left;
}

.menu > ul > li > a{
	text-decoration:none;
	color:white;
	font-size:20px;
}

.dividir{
	position: relative;
	margin: 10px;
	line-height: 20px;
	height: 20px;
	float: left;
	display: inline-block;
	padding: 0;
	font-weight: normal;
	font-size: 10pt;
	color: #fff;
	width: 1px;
	border-right: 1px #e6e6e6 solid;
}

h1,h2,h3,h4,h5,h6{
	margin-left:50px;
	margin-bottom:0px;
	font-family: Arial, Helvetica, sans-serif;
}
#welcome ul{
        margin-left:50px;
	margin-bottom:0px;
	font-family: Arial, Helvetica, sans-serif ;
}
p{
	margin-left:100px;
	margin-top:20px;
	margin-right:50px;
	text-align:justify;
        font-family: Arial, Helvetica, sans-serif ;
}
.menu-dropdown{
	display:none;
	background-color:#006900;
	width:160px;
	height:95px;
	margin-left:-50px;
	margin-top:10px;
}
.menu-dropdown > form{
	padding:10px;
}

.menu-dropdown > form > input{
	margin-top:3px;
	width:100%;
}

.menu-dropdown > ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.menu-dropdown > ul > li{
    margin:0px;
	padding:5px;
}

.menu-dropdown > ul > li > a{
	text-decoration:none;
	color:white;
}

.center-page{
	margin-top:50px;
	margin-right:200px;
	margin-left:200px;
}

.center-page > form > input,select{
	width:100%;
	height:30px;
	margin-top:10px;
}

.span{
	width:30% !important;
	float:left !important;
	margin-left:13% !important;
}

.span2{
	width:90% !important;
	float:left !important;
	margin-left:5% !important;
}

input[type="submit"]{
	background:#006900;
	color:white;
	border:1px solid #006900;	
}

label{
	margin-top:10px !important;
}



.caixa{
    background: #006900;
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.circle {
	width: 100px;
	height: 100px;
	background: #B20059;
        float: left;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

div#welcome p{
    padding: 10px;
    text-align: justify;
}

div#welcome h2{
    text-align: center;
    padding-top: 15px;
    margin-left: 0px;
    color:white;
}

.janela_projeto{
    width: 100%;
    height: 100%;
}

.caixa_projeto > fieldset{
    height: 50px;
    width: 200px;
    margin-top: 10px;
    border:1px solid #007F00;
    background:#007F00;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    float:left;
}

.caixa_projeto > fieldset > a{
	text-decoration:none;
	color:#ffffff;
        padding:5px;
}

div#view-content > form > [type="submit"]{
    width: 100px;
    height: 40px;
    background: #B20059;
    margin-right: 20px;
}

.caixa_descricao{
    width:45%;
    height:400px;
    margin: 0px;
    margin-left: 25px;
    margin-top: 10px;
    background-color: #14CC7C;
    float:left;
    overflow: auto;
}

.caixa_descricao > label{
    padding: 5px;
}

.button{
        width: 100px;
        height: 40px;
        margin-right: 20px;
        margin-top: 40px;
        float:right;
    }

@media screen and (min-width: 240px) and (max-width: 900px) { 
	.center-page { 
		margin:0px;
		padding:10px;
	} 
	.menu > ul > li{
		margin-left:5px;
	}
        .caixa{
            height: 40%;
        }
}

#rodape{width:100%; height:30px; background-color:#006900; text-align:center;  margin-top: 253px;}

#rodape p{font-family:Arial, Helvetica, sans-serif; color:#FFF; text-align:center; font-size:15px; padding-top:6px;}